<main class="container">
    <h1>About This Website</h1>
    <p>This project is a blog platform built using <strong>Node.js</strong>, <strong>Express</strong>, and <strong>MongoDB</strong>. It serves as a learning experience and creative endeavor inspired by the YouTube tutorial series <a href="https://youtube.com/playlist?list=PL4cUxeGkcC9hAJ-ARcYq_z6lDZV7kT1xD&si=PJ1XJRtbRD91jF0i" target="_blank"><strong>Make a Blog with Node.js, Express & MongoDB</strong></a> by NetNinja.</p>

    <h2>Creator</h2>
    <p>This blog was created by <strong>Bagyt Alisher</strong>, a student from <strong>BDA-2302</strong>, as a practical application of web development skills.</p>

    <p>Thank you for visiting this website!</p>

</main>

<a href="/" class="btn">&larr; Back to Home</a>
